body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.basic-block{
    padding: 50px 0;
    text-align: center;
}

.head-block{
    background-image: url("../img/Layer 21@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 530px;
    padding-left: 190px;
    padding-bottom: 145px;
    color: #fff;
}

.head-block-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

.head-block-subtitle{
    margin: 0 0 25px;
    font-size: 18px;
}

.head-block-slogan {
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 45px 30px;
     display: inline-block;

    background-color:rgba(0, 0, 0, 0.5);

    border: 1px white solid;
}


.slogan-margin {
    margin-right: 50px;
}

.yellow-text {
    color: #f1ad1d;
}

.basic-title{
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.basic-subtitle {
    font-size: 17px;
}

.orange-line {
    margin: 50px auto;
    border: 2px solid #f1b128;
    width: 60px;
}

.web-award-img {
    margin: 0 auto;
    width: 280px;
    height: 190px;
    background: url("../img/web Award@1X.png") no-repeat;
}

.navbar-logo {
    display: inline-block;
    width: 10%;
    font-size: 36px;
    font-weight: 700;
    vertical-align: middle;
    color: #f1b128;
}

nav.container {
    text-transform: uppercase;
}

.navbar-menu {
    display: inline-block;
    width: 89%;
    text-align: right;
    list-style: none;
    /*border-bottom: 2px solid #f1b128;*/
}

.navbar-menu-item {
    display: inline-block;
}

.navbar-menu-link {
    font-size: 18px;
    text-decoration: none;
    color: #333;
}
